:root {
  --tamna-pozadina: #212429;
  --glavna-pozadina: #f9f9fb;
  --sv-sivi-tekst: #999;
  --t-sivi-tekst: #464646;
  --shadow: 3px 3px 2px #f5f5f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--glavna-pozadina);
}

h1 {
  font-size: 2.7rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  width: 100%;
}

/* Header i navigacija */

header {
  background-color: var(--tamna-pozadina);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 94%;
  margin: 0 auto;
}

i[class*="fa"] {
  font-size: 2rem;
  cursor: pointer;
}

nav i {
  padding: 2.2rem;
  border-right: 1px solid #3b3b3c;
  transition: color 0.5s linear;
}

nav i:first-child {
  border-left: 1px solid #3b3b3c;
  width: 61.5px;
}

nav i:hover {
  color: var(--sv-sivi-tekst);
}

nav > a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* Navigacija */

.main--nav {
  position: absolute;
  list-style: none;
  top: -100%;
  width: 94%;
  background-color: var(--tamna-pozadina);
}

.main--nav.active {
  top: 6rem;
}

.main--nav li {
  margin: 1.5rem;
}

.main--nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;
}

.main--nav a:hover {
  border-bottom: 1px solid #eee;
}

/* Hero sekcija */

.hero {
  background: linear-gradient(var(--tamna-pozadina) 50%, var(--glavna-pozadina) 50%);
}

.hero__content {
  width: 94%;
  margin: 0 auto;
  min-height: 80vh;
  background: url("./slike/naslovna.jpg") no-repeat center center/cover scroll;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  letter-spacing: 5px;
}

.hero--title {
  margin-top: 3rem;
}

.hero--subtitle {
  order: -1;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero--button {
  width: 21rem;
  height: 7rem;
  background-color: #fff;
  color: #212121;
  margin-top: 9rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  transition: background-color 1s linear, color 1.5s ease;
}

.hero--button:hover {
  background-color: var(--tamna-pozadina);
  color: #fff;
}

/* Main sekcija */

main {
  width: 94%;
  margin: 0 auto 14rem;
}

/* Search sekcija */

.search {
  background-color: #f7f7f7;
  display: flex;
  padding: 2.7rem 0;
  font-size: 1.6rem;
}

.search p {
  flex-basis: 17%;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 6rem;
}

.search form {
  flex-basis: 83%;
  display: flex;
}

.search form::before {
  content: "\f002";
  font: var(--fa-font-solid);
  color: #fff;
  background-color: var(--tamna-pozadina);
  line-height: 6rem;
  width: 6rem;
  text-align: center;
}

.input__polje {
  flex-basis: 80%;
  padding-left: 2rem;
}

.input__polje::placeholder {
  color: #bbb;
  letter-spacing: 3px;
}

.input__button {
  flex-basis: 20%;
  background-color: var(--tamna-pozadina);
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 3.5rem;
  transition: background-color 1s linear, color 1.5s ease;
}

.input__button:hover {
  background-color: #eee;
  color: #000;
}

/* Main - kartiÄna sekcija */
.index-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 40rem));
  gap: 3.5rem;
}

.kartica {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #fff;
  border: 1px solid #f8f8f9;
}

.kartica__info {
  text-align: center;
}

.kartica__info p:first-of-type {
  margin-top: 6.5rem;
}

.kartica__info p {
  font-size: 1.6rem;
  color: var(--sv-sivi-tekst);
}

.kartica__info h2 {
  font-size: 2.5rem;
  margin: 2.4rem 0;
}

.kartica__info button {
  background: transparent;
  margin: 4.5rem 0;
  font-size: 1.8rem;
  letter-spacing: 3px;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  padding: 2rem;
  font-weight: 600;
  color: #212121;
  cursor: pointer;
  transition: background 1s ease;
}

.kartica__info button:hover {
  background: #e3e3e3;
}

.kartica__social {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #f8f8f9;
  padding: 3rem 0;
}

.kartica__social p,
.kartica--icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: var(--t-sivi-tekst);
}

.kartica__social > p {
  color: var(--sv-sivi-tekst);
}

.kartica__social > p > i {
  color: #000;
}

.kartica__info .kartica--no--image {
  color: var(--t-sivi-tekst);
  letter-spacing: 2px;
  line-height: 2;
  padding: 3.5rem 2rem 0;
}

.tamna-kartica {
  background-color: var(--tamna-pozadina);
}

.tamna-kartica .kartica--no--image {
  color: #fff;
}

.tamna-kartica p:first-of-type {
  margin: 3rem 0 5rem;
}

/* ABOUT - MAIN sekcija */

.about__main {
  width: 94%;
  margin: 11rem auto;
  display: flex;
  gap: 3.5rem;
  font-size: 1.6rem;
}

.article__about {
  flex-basis: 75%;
  background-color: #fff;
  text-align: center;
}

.about--naslov {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 3rem;
}

.about--naslov p {
  order: -1;
  color: var(--sv-sivi-tekst);
  padding-bottom: 3rem;
}

.about--info--kartica {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.about--info--kartica > p {
  color: var(--sv-sivi-tekst);
}

.about--info--kartica > p > i {
  color: var(--t-sivi-tekst);
}

.article__about > p {
  margin: 4.5rem 7rem;
  line-height: 1.5;
  text-align: justify;
}

.article__about blockquote {
  font-weight: 600;
  line-height: 1.5;
}

.aside__about {
  flex-basis: 25%;
  background-color: #fff;
  padding: 4.5rem 3.5rem 3rem;
}

.aside__about form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 5.5rem;
}

.aside__about input[type="text"] {
  background-color: #f9f9fb;
  padding-left: 2rem;
}

.aside__about input[type="submit"] {
  font-size: 2rem;
  font-weight: 900;
  background-color: #212121;
  color: #fff;
  font-family: "Font Awesome 6 Free";
  cursor: pointer;
  padding: 2rem;
}

.aside__about h2 {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f8f8f8;
}

.category__stats {
  display: flex;
  justify-content: space-between;
  line-height: 3;
  border-bottom: 1px solid #f8f8f8;
}

.category__stats a,
.category__stats span {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.category__stats a:hover,
.category__stats span:hover {
  border-bottom: 1px solid var(--tamna-pozadina);
}

.latest__posts > img {
  margin: 4.5rem 0;
}

.posts {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid #f8f8f8;
}

.posts > img {
  max-width: 90px;
}

.text--container {
  display: grid;
  align-content: space-between;
  letter-spacing: 1px;
}

.text--container--desc {
  display: flex;
  gap: 3rem;
  color: var(--sv-sivi-tekst);
}

/* CONTACT - Article sekcija */

.article__contact {
  flex-basis: 75%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  row-gap: 3rem;
}

iframe {
  width: 100%;
  height: 100%;
}

.contact__main__info {
  background-color: #fff;
  padding: 4rem 3rem;
  box-shadow: var(--shadow);
}

.contact__main__info h1 {
  color: var(--t-sivi-tekst);
  letter-spacing: 1px;
}

.contact__main__info hr {
  border: 1px solid #eaeaeb;
  margin: 3rem 40% 3rem 0;
}

.contact__main__info p {
  color: var(--tamna-pozadina);
  line-height: 1.8;
}

.contact__main__info > p:first-of-type {
  margin-bottom: 3rem;
}

.contact__main__info p {
  margin-bottom: 2rem;
}

.contact__main__info i {
  margin-right: 0.8rem;
}

.contact__main__form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 5rem) 25rem 4rem;
  gap: 2rem;
}

.contact__main__form input,
.contact__main__form textarea {
  padding-left: 2rem;
  font-size: 1.6rem;
  line-height: 5rem;
  box-shadow: var(--shadow);
}

.contact__main__form input[type="url"],
.contact__main__form textarea {
  grid-column: 1 / -1;
}

.contact__main__form input::placeholder,
.contact__main__form textarea::placeholder {
  color: var(--t-sivi-tekst);
}

.contact__main__form input[type="submit"] {
  line-height: 4rem;
  background-color: var(--tamna-pozadina);
  max-width: 17rem;
  color: #fff;
  cursor: pointer;
  padding-left: 0;
  transition: background-color 0.3s ease-in, color 0.6s ease-out;
}

.contact__main__form input[type="submit"]:hover {
  background-color: #fff;
  color: var(--tamna-pozadina);
}

/* FOOTER sekcija */

footer {
  background-color: var(--tamna-pozadina);
}

.footer__container {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 40rem));
  gap: 3.5rem;
  padding-top: 7rem;
  color: #fff;
}

.footer__container h2 {
  margin-bottom: 4.5rem;
}

.footer__container p {
  color: #f9f9fb;
  font-size: 1.6rem;
  line-height: 2;
}

.footer--images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}

.footer__container hr {
  margin: 3rem 0;
  border: 1px solid #616366;
}

.copyright {
  background-color: #17191c;
  text-align: center;
  color: #616366;
  font-size: 1.6rem;
  line-height: 2;
  padding: 1rem;
}
